<!DOCTYPE html>
<html lang="en"> 
<head>  
    <meta charset="UTF-8">  
    <title>Ping Status Availability Chart</title>
    <title>Inventory Records</title>  
     {% load static %}
    <h2>SW-1 Status</h2> 
    <img src="{% static '/media/template/Switch SW-1 Ping Availability 28-11-2019 (12 am-12 pm).png' %}" style="width:100%;height:100%;">
    <h2>SW-2 Status</h2> 
    <img src="{% static '/media/template/Switch SW-2 Ping Availability 28-11-2019 (12 am-12 pm).png' %}" style="width:100%;height:100%;">
    <h2>SW-3 Status</h2> 
    <img src="{% static '/media/template/Switch SW-3 Ping Availability 28-11-2019 (12 am-12 pm).png' %}" style="width:100%;height:100%;">
</head>
<body>
</body>
</html>